# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake build directories (Wipes the folder causing your absolute path errors)
build/
CMakeCache.txt
CMakeFiles/
CMakePresets.json

# IDE and Tooling setups
.vscode/
.idea/
.clangd/
